{% load static %}
<!DOCTYPE html>
<html>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/stylePortfolio.css' %}"/>
    <link href="https://fonts.cdnfonts.com/css/ubuntu-title" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Holtwood+One+SC" />
    <link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet">

    <header>
        <script src="{% static 'portfolio/script/script.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <div class="header">
            <div class="header-title">
                <a href="{% url 'home' %}">
                <img class="door" src="{% static 'main/img/door.svg' %}" alt="door">
                </a>
                <a href="{% url 'home' %}">
                <img class="BDSMR" src="{% static 'main/img/BDSMr.svg' %}" alt="BDSMR">
                </a>
                <div class="header-buttons">
                    <span><a href="{% url 'sketch' %}">Портфолио</a></span>
                </div>
                <a href="{% url 'personal_cabinet' %}">
                    <img class="account-icon" src="{% static 'main/img/account_icon.svg' %}" alt="account_icon">
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="team">
            <h2>Наша команда</h2>
            <div class="photo-team">
                {% for employee in employees %}
                <div class="image" data-master-id="{{ forloop.counter }}">
                    <img class="master" src="{{ employee.photo.url }}" alt="Мастер">
                    <div class="image_description">
                        <div class="imag_title">{{ employee.first_name }}</div>
                        <button class="button-master" onclick="sendEmail('{{ employee.username }}')">показать портфолио</button>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="end">
                
            </div>
        </div>
        
    </main>
    <body>

    <script>
    function sendEmail(username) {
        window.location.href = '/portfolio/master/' + username + '/';
    }

    </script>


    </body>
</html>