html {
    height: 100%;
}


.header{
    max-width: auto;
    min-width: 900px;
    width: auto;
    height: auto !important;
    background-color: #0F1010;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: inset 0px -42px 57px -13px rgba(0,0,0,1);
}

.header-title{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 99px;
    background: rgba(0, 0, 0, 0.74);
    align-items: center;
}


.door {
    width: 40px;
    height: 48px;
    margin-left: 31px;
}

.BDSMR{
    width: 162px;
    height: 58px;
    margin-left: 8px;
}

.header-buttons{
    width: auto;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.account-icon {
    margin-right: 30px;
}

.header-buttons a{
    color: #FFF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 54px;

    text-align: center;
    letter-spacing: 0.8384px;
    margin-right: 30px;
    text-decoration: none;
}

.personal-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    
    background-color: #1E1E1E;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 99px;
}

.name_bd h3{
    width: 500px;
    height: 55px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;

    letter-spacing: 0.8384px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0;
}


.name_bd h4{
    
    width: 130px;
    height: 55px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0.8384px;
    text-transform: capitalize;

    color: #FFFFFF;
    margin: 0;
    margin-top: -10px;
}

.statistic h3{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 54px;

    letter-spacing: 0.8384px;

    color: #FFFFFF;
    margin: 0;
    margin-top: 25px;
}

.statistic h4{
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    

    letter-spacing: 0.8384px;
    text-transform: capitalize;

    color: #FFFFFF;
    
    margin: 0;
    margin-top: -10px;
}

.icon {
    position: relative;
}

.avatar {
    margin-top: 99px;
    margin-left: 153px;
}

.avatar-img {
    display: block;
    width: 187px;
    height: 187px;
    border-radius: 20px;
}

.pinion {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 10px;
    left: 145px;
    z-index: 1;
}


.entry {
    width: 100%;
    height: auto;
    background-color: #1E1E1E;
}

.entry-text h3 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.8384px;

    color: #FFFFFF;
    margin: 0;
    margin-left: 153px;

}

.entry-text h4 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    letter-spacing: 0.8384px;

    color: #FFFFFF;
    margin: 0;
    margin-left: 153px;
}

.entry-text {
    padding-top: 71px;
    padding-bottom: 14px;
}

.box-calendar {
    width: auto;
    height: auto;
    background-color: #1E1E1E;
}

#calendar {
    width: 650px;
    height: auto;
    font-size: 14px;
    overflow: hidden;
    background: #565656;
    margin-left: 153px;
}

.calendar-table {
    width: 487px;
    height: 350px;
    padding-left: 73px;
    padding-top: 45px;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 3px;
    width: 487;
    height: 310px;
    align-items: center;
}
  
.calendar-body > * {
    width: 100%;
    height: 100%;
}

.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: #565656;
}
  
.calendar-header-day {
    width: 47px;
    height: 35px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    /* identical to box height, or 109% */
    text-align: center;
    letter-spacing: 0.8384px;
    color: #CACACA;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
}


.calendar-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
  
.calendar-day {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
/* identical to box height, or 109% */

    text-align: center;
    letter-spacing: 0.8384px;

    color: #FFFFFF;

    width: 11.28%;
    height: 30px;
    
    
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
  
.calendar-day:hover {
    background-color: #a7a7a7;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0.7;
}

.calendar-day--prev-month {
    opacity: 0.1;
}

.calendar-day.calendar-day--next-month{
    opacity: 0.1;
}

.selected-day {
    background-color: #00bcd4;
    border-radius: 10px;
}


.calendar-footer {
    margin-left: 73px;
}

.calendar-time {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

label[for="time"] {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.8384px;
    color: #FFFFFF;
}

.calendar-sketch {
    padding-top:20px
}

.photo-sketch {
    display: flex;
    flex-direction: row;
    align-items: center;
}



label[for="sketches"] {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.8384px;
    color: #FFFFFF;
}

.calendar-time input[type="time"] {
    width: auto;
    height: auto;
    background: #FFFFFF;
    border-radius: 30px;
}

.calendar-time input[type="time"] {
    background-color: #fff;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 10px;
    cursor: pointer;
}
  
.calendar-time input[type="time"]:hover {
    border-color: #aaa;
    cursor: pointer;
}

.custom-button{
    margin-top: 25px;
    Width: 215px;
    Height: 40px;
    border-radius: 10px;
    border: none;
    font-family: 'Ubuntu';
    font-size: 20px;
    line-height: 35px;
}

.sketch {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-left: 50px;
}

.end {
    width: auto;
    height: 300px;
    background-color: #1E1E1E;
}

.calendar-day--selected {
    border-radius: 10px;
}

.calendar-time input[type="time"] {
    margin-left: 40px;
    Width: 200px;
    Height: 20px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 20px;
    border-radius: 10px;
}

label[for="master"] {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.8384px;
    color: #FFFFFF;
}

.calendar-master {
    margin-top: 15px
}

#master {
    margin-left: 21px;
    Width: 215px;
    Height: 40px;
    border: none;
    font-family: 'Ubuntu';
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
}

.calendar-submit {
    margin-top: 25px;
    Width: 215px;
    Height: 40px;
    border-radius: 10px;
    border: none;
    font-family: 'Ubuntu';
    font-size: 20px;
    line-height: 35px;
}

button.calendar-submit {
    opacity: 1; 
    transition: opacity 0.3s ease-in-out; 
}

button.calendar-submit:hover {
    opacity: 0.5;
}

button.calendar-submit:active {
    transform: translateY(2px);
    box-shadow: none;
}


.status-light__status-accepted {
    /* Background color */
    background-color: #16a34a;

    /* Rounded border */
    border-radius: 9999px;

    /* Size */
    height: 0.7rem;
    width: 0.7rem;

    margin-left: auto;
    margin-right: auto;
}

.status-light__status-cancelled {
    /* Background color */
    background-color: #FF0000;

    /* Rounded border */
    border-radius: 9999px;

    /* Size */
    height: 0.7rem;
    width: 0.7rem;

    margin-left: auto;
    margin-right: auto;

}

.status-light__status-inProgress {
    /* Background color */
    background-color: #c4a400;

    /* Rounded border */
    border-radius: 9999px;

    /* Size */
    height: 0.7rem;
    width: 0.7rem;

    margin-left: auto;
    margin-right: auto;
}


.table-end {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

table {
    width: 1000px;
    border-collapse: collapse;
   /*убираем пустые промежутки между ячейками*/
   border: 1px solid white;
   /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}

th, td {
   text-align: center;
   border: 1px solid white;
   height: 60px;
   color: white;
}

tr:nth-child(even) {
    background-color: #474747;
}

tr {
    background-color: #292929;
}

.feedback {
    Width: 130px;
    Height: 30px;
    border-radius: 10px;
    border: none;
    font-family: 'Ubuntu';
    font-size: 15px;
}

.cancel {
    Width: 130px;
    Height: 30px;
    border-radius: 10px;
    border: none;
    font-family: 'Ubuntu';
    font-size: 15px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#ratingForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 10000;
}

.container{
  position: relative;
  width: 400px;
  background: #111;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .post{
  display: none;
}
.container .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "I just hate it \1F922";
}
#rate-2:checked ~ form header:before{
  content: "I don't like it \1F625";
}
#rate-3:checked ~ form header:before{
  content: "It is awesome \1F610";
}
#rate-4:checked ~ form header:before{
  content: "I just like it \1F60E";
}
#rate-5:checked ~ form header:before{
  content: "I just love it \1F60D";
}
.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #444;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #1b1b1b;
}

