{% load static %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="{% static 'main/css/stylePC.css' %}"/>
<link href="https://fonts.cdnfonts.com/css/ubuntu-title" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Holtwood+One+SC"/>
<link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<header>
    <script src="{% static 'main/script/script.js' %}"></script>
    <div class="header">
        <div class="header-title">
            <a href="{% url 'home' %}">
                <img class="door" src="{% static 'main/img/door.svg' %}" alt="door">
            </a>
            <a href="{% url 'home' %}">
                <img class="BDSMR" src="{% static 'main/img/BDSMr.svg' %}" alt="BDSMR">
            </a>
            <div class="header-buttons">
                <span><a href="{% url 'portfolio' %}">Команда</a></span>
                <span><a href="#">Портфолио</a></span>

            </div>
            <img class="account-icon" src="{% static 'main/img/account_icon.svg' %}" alt="account_icon">
        </div>
    </div>
</header>
<main class="main-cont">
    <div class="personal-info">
        <div class="avatar">
            <div class="icon">
                <img class="avatar-img" src="{% static 'main/img/avatar.png' %}" alt="Аватарка">
                <img class="pinion" src="{% static 'main/img/pinion.png' %}" alt="шестеренка">
            </div>
        </div>
        <div class="info">
            <div class="name_bd">
                <h3>{{ user.get_full_name }}</h3>
                <h4>{{ user.date_of_birth|date:"d.m.Y" }}</h4>
            </div>
            <div class="statistic">
                <h3>Сделано тату в нашей студии: {{ user.tattoos_made }}</h3>
                <h4>Прислединился в {{ user.date_joined|date:"Y" }} году</h4>
            </div>
        </div>
    </div>

    <div class="entry">
        <div class="entry-text">
            <h3>Хочешь записаться?</h3>
            <h4>Выбери удобное время и день, и мы с тобой свяжемся.</h3>
        </div>
    </div>
    <div class="box-calendar">
        <div id="calendar">
            <div class="calendar-table">
                <div class="calendar-header">
                    <div class="calendar-header-day">Пн</div>
                    <div class="calendar-header-day">Вт</div>
                    <div class="calendar-header-day">Ср</div>
                    <div class="calendar-header-day">Чт</div>
                    <div class="calendar-header-day">Пт</div>
                    <div class="calendar-header-day">Сб</div>
                    <div class="calendar-header-day">Вс</div>
                </div>
                <div class="calendar-body">

                </div>
            </div>

            <div class="calendar-footer">
                <div class="calendar-time">
                    <label for="time">Время:</label>
                    <input type="time" id="time" name="time">
                </div>

                <div class="calendar-master">
                    <label for="master">Мастер:</label>
                    <select id="master" name="master">
                        <option value="" selected></option>
                        <option value="1">Мастер Юля</option>
                        <option value="2">Мастер Иван</option>
                        <option value="3">Мастер Соня</option>
                        <option value="4">Мастер Максим</option>
                        <option value="5">Мастер Оля</option>
                        <option value="6">Мастер Евгений</option>
                    </select>
                </div>
                <div class="calendar-sketch">
                    {% if photo_url %}
                    <div class="photo-sketch">
                        <label for="sketches">Эскиз:</label>
                        <img class="sketch" src="{{ photo_url }}" alt="Фотография">
                    </div>
                    {% else %}
                    <div id="sketch-container">
                        <label for="sketches">Эскиз не выбран:</label>
                    </div>
                    {% endif %}
                </div>
                <button class="calendar-submit">Подтвердить запись</button>
            </div>

        </div>

        <div class="end">
            <div class="table-end">
                <table>
                    <thead>
                    <tr>
                        <th>Session ID</th>
                        <th>Дата</th>
                        <th>Статус</th>
                        <th>Мастер</th>
                        <th>Id эскиза</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for session in sessions %}
                    <tr>
                        <td>{{ session.session_id }}</td>
                        <td>{{ session.date }}</td>
                        <td>{% if session.status == "completed" %}
                            <div class="status-light__status-accepted"></div>
                            {% elif session.status == "cancelled" %}
                            <div class="status-light__status-cancelled"></div>
                            {% elif session.status == "in progress" %}
                            <div class="status-light__status-inProgress"></div>
                            {% endif %}
                        </td>
                        <td>{{ session.employee.name }}</td>
                        <td>{{ session.sketch.sketch_id }}</td>
                        <td>{% if session.status == "completed" %}
                                {% if session not in review %}
                                    <button class="feedback" onclick="showForm('{{ session.employee.name }}', '{{ session.session_id }}')">Оставить отзыв</button>
                                {% else %}
                                    <h2>sdasda</h2>
                                {% endif %}
                            {% elif session.status == "cancelled" %}
                                {% if session not in review %}
                                    <button class="feedback">Оставить отзыв</button>
                                {% else %}
                                    <h2>sdasda</h2>
                                {% endif %}
                            {% elif session.status == "in progress" %}
                                <button class="cancel">Отменить</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <button onclick="showForm()">Нажать</button>

        <div id="overlay" style="display: none;"></div>

        <div id="ratingForm" style="display: none;">
            <div class="container">
                <div class="post">
                    <div class="text">Thanks for rating us!</div>
                    <div class="edit">EDIT</div>
                </div>
                <div class="star-widget">
                    <input type="radio" name="rate" id="rate-5" value="5">
                    <label for="rate-5" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-4" value="4">
                    <label for="rate-4" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-3" value="3">
                    <label for="rate-3" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-2" value="2">
                    <label for="rate-2" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-1" value="1">
                    <label for="rate-1" class="fas fa-star"></label>
                    <form>
                        <header></header>
                        <div class="textarea">
                            <textarea name="experience" cols="30" placeholder="Describe your experience.."></textarea>
                        </div>
                        <div class="btn">
                            <button class="calendar-submit-2" type="submit">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<body>

<script>
document.querySelector('.calendar-submit-2').addEventListener('click', function() {
  var rate = document.querySelector('input[name="rate"]:checked').value;
  var experience = document.querySelector('textarea[name="experience"]').value;
  var selectedEmployeeName = sessionStorage.getItem('selectedEmployeeName');
  var session_id = sessionStorage.getItem('session_id');

  console.log(rate, experience, selectedEmployeeName, session_id)
  sessionStorage.removeItem('selectedEmployeeName');
  sessionStorage.removeItem('session_id');
  var xhr = new XMLHttpRequest();
        xhr.open('POST', '/feedback/', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                showAlert(response.result);
            }
        };
        xhr.send(JSON.stringify({
            'rate': rate,
            'experience': experience,
            'selectedEmployeeName': selectedEmployeeName,
            'session_id': session_id
        }));
    });

    // Функция для получения значения CSRF-токена из cookie
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function showAlert(message) {
    alert(message);
}



</script>

<script>


          const widget = document.querySelector(".star-widget");
          const editBtn = document.querySelector(".edit");
          btn.onclick = ()=>{
            widget.style.display = "none";
            post.style.display = "block";
            editBtn.onclick = ()=>{
              widget.style.display = "block";
              post.style.display = "none";
            }
            return false;
          }

</script>

<script>
function showForm(name, session_id) {
  sessionStorage.setItem('selectedEmployeeName', name);
  sessionStorage.setItem('session_id', session_id);
  var overlay = document.getElementById("overlay");
  var form = document.getElementById("ratingForm");

  overlay.style.display = "block";
  form.style.display = "block";
}

window.onclick = function(event) {
  var overlay = document.getElementById("overlay");
  var form = document.getElementById("ratingForm");

  if (event.target == overlay) {
    overlay.style.display = "none";
    form.style.display = "none";
  }
}














</script>

<script>
        document.querySelector('.calendar-submit').addEventListener('click', function() {
        var selectedTime = document.querySelector('#time').value;
        var selectedMaster = document.querySelector('#master').value;
        var selectedDate = document.querySelector('.calendar-day--selected');
        var sketchId = sessionStorage.getItem('sketchId');
        sessionStorage.removeItem('sketchId');
        var currentDate = new Date();
        var currentMonth = currentDate.getMonth() + 1;
        var currentYear = currentDate.getFullYear();
        console.log(currentYear);

        if (selectedDate) {
            selectedDate = selectedDate.innerHTML;
        } else {
            selectedDate = '';
        }

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/personal_cabinet/', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                showAlert(response.result);
            }
        };
        xhr.send(JSON.stringify({
            'selectedTime': selectedTime,
            'selectedMaster': selectedMaster,
            'selectedDate': selectedDate,
            'sketchId': sketchId,
            'currentMonth': currentMonth,
            'currentYear': currentYear
        }));
    });

    // Функция для получения значения CSRF-токена из cookie
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function showAlert(message) {
    alert(message);
}
















</script>

<script>
        // Проверяем наличие значения sketchId в sessionStorage
        var sketchId = sessionStorage.getItem('sketchId');

        if (sketchId) {
            // Используйте значение sketchId по вашему усмотрению
            console.log('Значение sketchId:', sketchId);

            // Очищаем значение из локального хранилища, чтобы не использовать его повторно при следующем обновлении страницы
        } else {
            // Выводим кнопку выбора эскиза
            var sketchButton = document.createElement('button');
            sketchButton.classList.add('custom-button');
            sketchButton.textContent = 'Выбрать эскиз';
            sketchButton.addEventListener('click', function() {
                window.location.assign('/sketch');
        });
        document.getElementById('sketch-container').appendChild(sketchButton);
    }

















</script>
</body>
</html>