{% load static %}
<!DOCTYPE html>
<html>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/sketch.css' %}" />
    <link href="https://fonts.cdnfonts.com/css/ubuntu-title" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Holtwood+One+SC" />
    <link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet">

    <body>
        <header>
            <div class="header">
                <div class="header-title">
                    <img class="door" src="{% static 'main/img/door.svg' %}" alt="door">
                    <img class="BDSMR" src="{% static 'main/img/BDSMr.svg' %}" alt="BDSMR">
                    <div class="header-buttons">
                        <span><a href="#">Команда</a></span>
                        <span><a href="portfolio.html">Портфолио</a></span>

                    </div>
                    <a href="personal_cabinet.html">
                        <img class="account-icon" src="{% static 'main/img/account_icon.svg' %}" alt="account_icon">
                    </a>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <h2>Работы наших мастеров</h2>
                <div class="galary">
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto1.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 1</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto2.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 2</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto3.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 3</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto4.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 4</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto5.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 5</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto6.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 6</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto7.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 7</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto8.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 8</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto9.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 9</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto10.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 10</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto11.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 11</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto12.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 12</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto13.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 13</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto14.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 14</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto15.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 15</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto16.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 16</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                    <div class="card">
                        <img class="tatto" src="{% static 'main/img/tatto17.png' %}" alt="Пример татуировки">
                        <div class="image_description">
                            <div class="imag_title">Скетч 17</div>
                            <button class="button-master">Хочу</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </body>


</html>