html {
    height: 100%;
}

.header{
    max-width: auto;
    min-width: 900px;
    width: auto;
    height: auto !important;
    background-color: #0F1010;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: inset 0px -42px 57px -13px rgba(0,0,0,1);
}

.header-title{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 99px;
    background: rgba(0, 0, 0, 0.74);
    align-items: center;
}


.door {
    width: 40px;
    height: 48px;
    margin-left: 31px;
}

.BDSMR{
    width: 162px;
    height: 58px;
    margin-left: 8px;
}

.header-buttons{
    width: auto;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.account-icon {
    margin-right: 30px;
}

.header-buttons a{
    color: #FFF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 54px;

    text-align: center;
    letter-spacing: 0.8384px;
    margin-right: 30px;
    text-decoration: none;
}

.photo-master {
    width: 100%;
    height: auto;
    background-color: #1E1E1E;
    position: relative;

}

.photo-Ylya{
    display: block;
    width: 942px;
    height: 570px;
    margin: 0 auto;
    border-radius: 10px;
}

.photo-master h2 {
    
    position: absolute;
    bottom: 40px;
    right: 131px;
    margin: 0;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
/* identical to box height, or 136% */

    text-align: center;
    letter-spacing: 0.8384px;

    color: #FFFFFF;
}

.photo-master h3 {
    
    position: absolute;
    bottom: 0;
    right: 129px;
    margin: 0;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 38.7px;
    line-height: 54px;
    /* identical to box height, or 136% */

    text-align: center;
    letter-spacing: 0.8384px;

    color: #FFFFFF;
}

.description {
    width: 1256px;
    height: 614px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 85px;
}

.text {
    width: 614px;
    height: 560px;
    background-color: #3A3A3A;
}

.info-master {
    width: 100%;
    height: auto;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
}

.text h2 {
    width: 342px;
    height: 77px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 27px;

    display: flex;
    align-items: center;
    letter-spacing: 0.8384px;

    color: #FFFFFF;
    margin: 0;
    margin-bottom: 43px;
    margin-left: 61px;
    margin-top: 41px;
}

.info-text {
    width: 434px;
    height: 311px;
}

.sketch1 {
    width: 300px;
    height: 560px;
    margin-left: 28px;
}

.h3-1, .h3-2, .h3-3{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 25px;
    letter-spacing: 0.8384px;
    color: #FFFFFF;
    margin: 0;
    margin-left: 61px;
}

.h3-1, .h3-2 {
    margin-bottom: 30px;
}

.button-signup {
    width: 356px;
    height: 63px;
    border: 3px solid #565656;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-left: 129px;
}

.sketches {
    width: 100%;
    height: 1300px;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sketch-type1 {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 450px;
    column-gap: 42px;
    padding-bottom: 37px;
}

.sketch-type2 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    row-gap: 24px;
    column-gap: 21px;
}